@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #2b5876;
  --secondary-color: #4e4376;
  --weak-color: #fc8181;
  --medium-color: #fbd38d;
  --strong-color: #68d391;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 20px;
}
.container {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0, 10px, 30px, rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 450px;
}
h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.8rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
}
